body{
    margin: 0;
    padding: 0;
}
.mainContainer{
    margin: 1em;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}
.mainContainer div{
    padding: 1em;
    border: 1px solid gray;
    margin: 2em;
    line-height: 1.5rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: bisque;
}
.mainContainer ul{
    padding: 0;
}

@media only screen and (max-width: 426px){
    .mainContainer{
        display: flex;
        flex-direction: column;
    }
    .mainContainer div{
        margin: 1em;
    }
}
@media only screen and (max-width: 768px){
    .mainContainer{
        grid-template-columns: 1fr 1fr;
    }
    .mainContainer div{
        margin: 1em;
    }
}